* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    border: none;
}
#button2 {
    background: lightgreen;
    border-radius: 15%;
    padding: 20px;
    
}

.form {
    display: flex;
    flex-direction: row;
    background-color: black;
}